<h2>Welcome</h2>
<H2>{{user.name}}</H2>
<p>{{user.description}}</p>
<p>{{user.city}}</p>
<hr>
{{#each user.description}}
  <p>{{this}}</p>
{{/each}}

{{#if authUser}}
<a href="/profile/edit" rel="noopener noreferrer">Edit</a>
<hr>
<form action="/profile/{{user._id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
{{/if}}

<a href="/user/{{user._id}}/collection" rel="noopener noreferrer">Game List</a>
<hr>
<a href="/user/{{user._id}}/wishlist" rel="noopener noreferrer">Wishlist</a>

<h3>Game List</h3>
<div class="d-flex flex-wrap justify-content-center">
  {{#each user.gameList}}
  {{> gameCard }}
  {{/each}}
</div>
<hr>
<h3>Wishlist</h3>
<div class="d-flex flex-wrap justify-content-center">
  {{#each user.wishlist}}
  {{> gameCard}}
  {{/each}}
</div>