<img src="{{game.background_image}}" alt="">
{{game.name}}

{{!-- REFACTOR IN 2 FORMS READING FROM USER INFO --}}
{{!-- Game not added to user collection --}}
{{#if addCollection}}
<form action="/game/add-collection" method="POST">
 <input type="hidden" name="gameID" value="{{game._id}}">
 <button type="submit"><i class="far fa-bookmark"></i></button>
</form>
{{/if}}
{{!-- Game added to user collection --}}
{{#unless addCollection}}
<form action="/game/remove-collection" method="POST">
 <input type="hidden" name="gameID" value="{{game._id}}">
 <button type="submit"><i class="fas fa-bookmark"></i></button>
</form>
{{/unless}}

{{!-- Game not added to user wishlist --}}
{{#if showWishlist}}
{{#if addWishlist}}
<form action="/game/add-wishlist" method="POST">
 <input type="hidden" name="gameID" value="{{game._id}}">
 <button type="submit"><i class="far fa-heart"></i></button>
</form>
{{/if}}
{{!-- Game added to user wishlist --}}
{{#unless addWishlist}}
<form action="/game/remove-wishlist" method="POST">
 <input type="hidden" name="gameID" value="{{game._id}}">
 <button type="submit"><i class="fas fa-heart"></i></button>
</form>
{{/unless}}
{{/if}}

{{!-- INFO WE GET FROM THE DDBB --}}
{{game.released}}
{{game.metacritic}}
{{#each game.genres}}
<span>{{this}}</span>
{{/each}}
{{#each game.tags}}
<span>{{this}}</span>
{{/each}}
{{#each game.screenshoots}}
<img src="{{this}}" alt="">
{{/each}}
{{game.upvote}}
{{game.dowvote}}
{{game.gameSaved}}
{{game.website}}
{{game.metacritic_url}}
{{game.developers}}
{{#each game.developers}}
<p>{{this}}</p>
{{/each}}
{{{game.description}}}

{{!-- TODO partial --}}
{{#if sessionUser}}
<form action="/review/create" method="POST">
  <input type="hidden" name="gameID" value="{{game._id}}">
  <textarea name="review" id="review" cols="30" rows="10"></textarea>
 <button type="submit">Post review</button>
</form>
{{/if}}


{{!-- TODO partials --}}
{{#each reviews}}
{{!-- <a href="/profile/{{user._id}}">{{user.email}}</a> --}}
{{comment}}
{{created_at}}
{{/each}}