<img src="{{game.background_image}}" alt="">
{{game.name}}

{{!-- REFACTOR IN 2 FORMS READING FROM USER INFO --}}
{{!-- Game not added to user collection --}}
<form action="/game/add-collection" method="POST">
 <input type="hidden" name="gameID" value="{{game._id}}">
 <button type="submit"><i class="far fa-bookmark"></i></button>
</form>
{{!-- Game added to user collection --}}
<form action="/game/remove-collection" method="POST">
 <input type="hidden" name="gameID">
 <button type="submit"><i class="fas fa-bookmark"></i></button>
</form>

{{!-- Game not added to user wishlist --}}
<form action="/game/add-wishlist" method="POST">
 <input type="hidden" name="gameID">
 <button type="submit"><i class="far fa-heart"></i></button>
</form>
{{!-- Game added to user wishlist --}}
<form action="/game/remove-wishlist" method="POST">
 <input type="hidden" name="gameID">
 <button type="submit"><i class="fas fa-heart"></i></button>
</form>

{{!-- INFO WE GET FROM THE DDBB --}}
{{game.released}}
{{game.metacritic}}
{{#each game.genres}}
<span>{{this}}</span>
{{/each}}
{{#each game.tags}}
<span>{{this}}</span>
{{/each}}
{{#each game.screenshoots}}
<img src="{{this}}" alt="">
{{/each}}
{{game.upvote}}
{{game.dowvote}}
{{game.gameSaved}}
{{game.website}}
{{game.metacritic_url}}
{{game.developers}}
{{#each game.developers}}
<p>{{this}}</p>
{{/each}}
{{{game.description}}}